@inherits LayoutComponentBase
@inject SecureVotingSystem.Services.VoterAuthenticationService VoterAuthService

<div class="top-nav">
    <div class="top-row">
        <a href="/">Home</a>
        <a href="/result">Result</a>
        @if (!VoterAuthService.IsUserAuthenticated)
        {
            <a href="/login">Login</a>
        }
        else
        {
            <a href="/profile">@("Welcome, " + VoterAuthService.VoterName)</a>
        }
    </div>
</div>


<main>
    <article class="content">
        @Body
    </article>
</main>

<style>
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-image: url('/vote.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1rem;
        color: white;
    }

    a, .btn-link {
        color: #006bb7;
    }

    .top-nav {
        background: linear-gradient(to right, #4caf65, #4caf60);
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 999;
        text-align: center;
        transition: background 0.5s ease;
    }

    .top-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .top-row a {
            margin: 0 15px;
            color: #333; 
            text-decoration: none;
            transition: color 0.3s ease;
        }

            .top-row a:hover {
                color: #00bcd4; 
            }

    main {
        padding: 20px;
        overflow-y: auto;
        transition: background-color 0.5s ease;
    }

    #blazor-error-ui {
        background-color: #e57373; 
        color: #fff;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.5s ease;
    }

    .error-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-primary {
        background-color: #4caf50; 
        border-color: #4caf50;
        color: #fff;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #388e3c;
            border-color: #388e3c;
        }

    .btn-secondary {
        background-color: darkred;
        border-color: #757575;
        color: #fff;
        transition: background-color 0.3s ease;
    }

        .btn-secondary:hover {
            background-color: #424242;
            border-color: #424242;
        }

    .reload,
    .dismiss {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .reload:hover,
        .dismiss:hover {
            text-decoration: underline;
        }

</style>