@page "/_Host"

<!DOCTYPE html>
<html>
<head>
    <title>SECURE VOTING SYSTEM</title>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <app>Loading...</app>
    <script src="_content/SecureVotingSystem/Blazor.js"></script>
</body>
</html>
